name: update
on:
  schedule:
    - cron: '*/5 * * * *'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-python@v1
      with:
        python-version: '3.8'
        architecture: 'x64'
    - name: Install the library
      run: |
        pip install nbdev jupyter
        pip install -e .
    - name: Update readme
      run: jupyter nbconvert --to notebook --execute --inplace index.ipynb
    - name: build docs
      run: nbdev_build_docs
    - uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: authomatic readme update
